.col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col {

    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.col,
.col-sm-8,
.col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px
    }
}

.category-tile {
    position: relative;
}

.category-tile h1,
.category-tile h2 {
    font-size: 1.75rem;
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
    color: #fff;
}

.category-tile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.5) 100%);
}

.page .hero {
    background-position-y: 0;
}

.page .shop-the-style .hero {
    background-position-y: 45%;
}

.hp-category-message,
.hp-promotion-message {
    position: absolute;
    bottom: 0.9375em;
    left: 1.875em;
}

.hp-category-message a,
.hp-promotion-message a {
    color: #fff;
}

.hp-category-message a.hp-promotion-message1,
.hp-promotion-message a.hp-promotion-message1 {
    font-size: 0.75em;
}

.category-tile {
    border: 1px solid white;
}

.half-height {
    min-height: 23.125em;
}

@media (max-width: 768.98px) {
    .half-height {
        min-height: 15.375em;
    }
}

.full-height {
    min-height: 51.725em;
}

@media (max-width: 768.98px) {
    .full-height {
        min-height: 35.375em;
    }
}

@media (max-width: 543.98px) {
    .full-height {
        min-height: 15.375em;
    }
}

.mens-jackets {
    background-position: 50% 34%;
}

@media (min-width: 544px) {
    .mens-jackets {
        background-size: auto 100%;
    }
}

@media (max-width: 543.98px) {
    .mens-jackets {
        background-position-y: 8%;
    }
}

.womens-dresses {
    background-position: 50% 15%;
}

.womens-jewelry {
    background-position: 40% 60%;
}

@media (min-width: 544px) {
    .womens-jewelry {
        background-size: auto 100%;
    }
}

.shop-red {
    background-position-y: 60%;
    min-height: 28.65em;
}

@media (max-width: 768.98px) {
    .shop-red {
        min-height: 15.375em;
    }
}

@media (max-width: 543.98px) {
    .shop-red {
        background-position: 45% 85%;
    }
}

@media (max-width: 543.98px) {
    .container.home-categories {
        padding-left: 0;
        padding-right: 0;
    }
}

.home-main-categories {
    margin-bottom: 2em;
}

.hero {
    height: 25vw;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

h1.page-title {
    position: relative;
    color: white;
    padding: 0.3125em 0.625em 0.3125em 15px;
    background-color: var(--skin-primary-color-1);
    display: inline-block;
    margin: 0.9375em 0;
    font-size: 1.5rem;
}

@media (min-width: 544px) {
    h1.page-title {
        font-size: 2rem;
    }
}

@media (min-width: 769px) {
    h1.page-title {
        font-size: 3rem;
    }
}

h1.page-title::before {
    content: "";
    background-color: var(--skin-primary-color-1);
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
}

@media (min-width: 1200px) {
    h1.page-title::before {
        width: calc((100vw - 1140px) / 2);
        left: calc((100vw - 1140px) / 2 * -1);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1.page-title::before {
        width: calc((100vw - 940px) / 2);
        left: calc((100vw - 940px) / 2 * -1);
    }
}

@media (min-width: 769px) and (max-width: 991.98px) {
    h1.page-title::before {
        width: calc((100vw - 720px) / 2);
        left: calc((100vw - 720px) / 2 * -1);
    }
}

@media (min-width: 1200px) {
    h1.page-title {
        left: calc((100% - 1140px) / 2);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1.page-title {
        left: calc((100% - 940px) / 2);
    }
}

@media (min-width: 769px) and (max-width: 991.98px) {
    h1.page-title {
        left: calc((100% - 720px) / 2);
    }
}

@media (max-width: 768.98px) {
    h1.page-title {
        left: 0;
    }
}